<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <img src="{{ url_for('static', filename='images/car.jpg') }}" alt="Car Image" class="left-aligned-image">
        </div>
        <h2>Login</h2>
        <p>Please enter your username and password</p>
        <div>
        <form method="post">
            <div class="input">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
            </div>
            <button type="submit">Login</button>
        </form>
        </div>
        {% if error %}
            <p class="error">{{ error }}</p>
            {% if error == 'User not found. Please sign up.' %}
                <p><a href="{{ url_for('signup') }}">Sign up here</a></p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
